@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Mapeamento de Cores do Sistema */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-app: var(--background-app);
  --color-background-dialog: var(--background-dialog);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);

  --font-pixel: "Silkscreen", cursive;
}

:root {
  --radius: 0.625rem;
  
  --background: oklch(0.2447 0.0295 29.78); 
  --foreground: oklch(0.85 0.02 40); 
  --background-app: oklch(0.4015 0.0436 37.96);
  --background-dialog: oklch(0.3 0.0358 30.2);
  
  --card: oklch(0.28 0.02 30);
  --card-foreground: oklch(0.85 0.02 40);
  
  --primary: oklch(0.3 0.0358 30.2); 
  --primary-foreground: oklch(0.853 0.0135 41.19);
  
  --border: oklch(1 0 0 / 15%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.78 0.16 70);
  
  --chart-1: oklch(0.78 0.16 70);
  --chart-2: oklch(0.65 0.10 160);
  --chart-3: oklch(0.55 0.15 300);
}

.dark {
  --background: oklch(0.15 0.02 30);
  --foreground: oklch(0.95 0.01 40);
  --card: oklch(0.18 0.02 30);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-app text-foreground font-sans;
  }
  
  .pixel-art {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}